<h2>Preguntale a el Mundo</h2>
<form action="/new_question" method="post">
  <center>
    <p>Pregunta</p>
    <input require type="text" placeholder="Escribe tu pregunta" name="question">
    <br>
    <input id="submit" require type="submit" value="Preguntar">
  </center>
</form>