<h1>Ingresa los datos para registrarte</h1>
<form action="/register" method="post">
  <center>
    <p>Nombre</p>
    <input require type="text" placeholder="Name" name="nombre">
    <br>
    <p>Correo</p>
    <input type="text" require placeholder="Email@example.com" name="email">
    <br>
    <p>Contraseña</p>
    <input type="password" require name="pass">
    <br>
    <br>
    <input id="submit" type="submit" value="Ingresar">
  </center>
</form>
<a class="btn href="/">Regresar</a>